#sign-in
    .sign-in__wrapper
        .sign-in__close
            img(src="../../../../img/sign/close.svg")
        .sign-in__header Sign In

        .sign-in__body
            .sign-in__input-email
                input.sign-in__input(type="text" placeholder="E-mail")
            .sign-in__input-pass
                input.sign-in__input(type="password" placeholder="Password")
            a(href="#").sign-in__forgot Forgot your password?
            .btn.sign-in__btn Sign in
            .sign-in__create
                span Haven’t signed up yet?
                a(href="#").sign-in__create-link Create account
