header
    .header__wrap.container
        .header__logo
            a(href="/")
                img(src="../../../../img/header/logo.png")
        ul.header__menu
            li.header__menu-link
                a(href="/faq.html") FAQ
            li.header__menu-link
                a(href="/team.html") Our team
            li.header__menu-link
                a(href="#") Data centers
            li.header__menu-link
                a(href="#") Terms of use
            li.header__menu-link
                a(href="#") Contacts
        .header__sign
            .header__sign-lang
                img(src="../../../../img/header/en.png")
                span EN
            .btn.header__sign-btn Войти
            .header__ham.icon-menu
                span
                span
                span
