.main
    .main__header Modern Bitcoin cloud <br> mining service
    .main__subheader Rent capacity in a serviced data center 24/7 <br> and earn daily and without interruption

    .main__btn.btn Calculate income

    .main__advantages
        .main__adv
            .main__adv-head 250$
            .main__adv-subhead Minimum deposit
            .main__adv-text Affordable for everyone
        .main__adv
            .main__adv-head 1.43x
            .main__adv-subhead Average return
            .main__adv-text Invest 1000$ - Earn 1400$
        .main__adv
            .main__adv-head 24/7
            .main__adv-subhead Fast payouts
            .main__adv-text Withdraw your money instantly
        .main__adv
            .main__adv-head 70000+
            .main__adv-subhead Crypto Investors
            .main__adv-text Since 2018

.start.container
    .start__header.header-blue HOW DO I GET STARTED?

    .start__items
        .start__item
            .start__item-number 01
            .start__item-icon
                img(src="../../../../img/index/start_01.png")
            .start__item-title Register Account
            .start__item-text Create an account and verify your identity
        .start__item
            .start__item-number 02
            .start__item-icon
                img(src="../../../../img/index/start_02.png")
            .start__item-title Start miner
            .start__item-text Make an investment - rent a miner
        .start__item
            .start__item-number 03
            .start__item-icon
                img(src="../../../../img/index/start_03.png")
            .start__item-title Recieve Money
            .start__item-text Get passive income and monitor statistics

.what-is.container
    .what-is__item
        .what-is__item-text
            .what-is__header.header-blue What is Bitcoin?
            .what-is__text Bitcoin (abbreviated as BTC) is an electronic payment system in which virtual "money" (bitcoins) circulates. Do you have VISA or Mastercard plastic cards? Both Visa and Mastercard are also electronic payment systems. However, they use the currency we are accustomed to such as dollars and euros, and all transactions are processed by banks. These currencies are called fiat currencies. The Bitcoin system uses cryptocurrency, a purely digital currency that is not tied to any global bank or economy of any country. It has its own value (rate), which is determined by demand.
        .what-is__item-image
            img(src="../../../../img/index/what_01.png")
    .what-is__item.what-is__item-rev
        .what-is__item-text
            .what-is__header.header-blue What is Cloud Mining?
            .what-is__text
                p Mining contributes to the existence of blockchains and cryptocurrencies. Powerful computers perform the calculation and create new blockchain blocks, from which miners get a reward in bitcoins / cryptocurrency form.
                p It is rather expensive to create one's own farm of special computers, which requires multiple technical knowledge. The SHAMINING project performs this function by itself. We provide convenient services, transparent tariff rates, and high miner quality.
        .what-is__item-image
            img(src="../../../../img/index/what_02.png")

.our-miners.container
    .our-miners__header.header-blue OUR MINERS IN ACTION
    .our-miners__items
        .our-miners__item
            .our-miners__item-title Lite Power
            .our-miners__item-icon
                img(src="../../../../img/index/our_1.png")
            .our-miners__item-price $0.604554
            .our-miners__item-text Starter miner with low profitability
        .our-miners__item
            .our-miners__item-title Green Power
            .our-miners__item-icon
                img(src="../../../../img/index/our_2.png")
            .our-miners__item-price $34.10111768
            .our-miners__item-text Beginner miner with average profitability
        .our-miners__item
            .our-miners__item-title Pro Power
            .our-miners__item-icon
                img(src="../../../../img/index/our_3.png")
            .our-miners__item-price $34.10111768
            .our-miners__item-text Cluster of miners with high profitability

.control.container
    .control__header.header-blue CONTROL FROM ANY DEVICE
    .control__body
        .control__checks
            .control__check
                img(src="../../../../img/index/check.svg")
                span Invest online from anywhere
            .control__check
                img(src="../../../../img/index/check.svg")
                span Control your miners from any device, whether desktop or mobile phone
            .control__check
                img(src="../../../../img/index/check.svg")
                span Withdraw your money safe and instantly
            .control__check-btn.btn Calculate income
        .control__image
            img(src="../../../../img/index/control-img.png")

    .control__price
        img(src="../../../../img/index/control-price.png")

.choose.container
    .choose__header.header-blue CHOOSE YOUR CONTRACT
    .choose__items
        .choose__item
            .choose__item-title-val GPU Miners
            .choose__item-img
                img(src="../../../../img/index/contract_01.png")
            .choose__item-title Mining Currency
            .choose__item-title-val BTC (Bitcoin)
            .choose__item-title Power
            .choose__item-title-val 23 580 GH/S
            .choose__item-title Price Per 1 GH/S
            .choose__item-title-val $ 0.0120
            .choose__item-title Profitability
            .choose__item-title-val From 143%
            .choose__item-title Availability
            .choose__item-title-val Yes
            .choose__item-btn Buy
        .choose__item
            .choose__item-title-val GPU Miners
            .choose__item-img
                img(src="../../../../img/index/contract_02.png")
            .choose__item-title Mining Currency
            .choose__item-title-val BTC (Bitcoin)
            .choose__item-title Power
            .choose__item-title-val 94 340 GH/S
            .choose__item-title Price Per 1 GH/S
            .choose__item-title-val $ 0.0113
            .choose__item-title Profitability
            .choose__item-title-val From 143%
            .choose__item-title Availability
            .choose__item-title-val Yes
            .choose__item-btn Buy
        .choose__item
            .choose__item-title-val GPU Miners
            .choose__item-img
                img(src="../../../../img/index/contract_03.png")
            .choose__item-title Mining Currency
            .choose__item-title-val BTC (Bitcoin)
            .choose__item-title Power
            .choose__item-title-val 235 849 GH/S
            .choose__item-title Price Per 1 GH/S
            .choose__item-title-val $ 0.0109
            .choose__item-title Profitability
            .choose__item-title-val From 143%
            .choose__item-title Availability
            .choose__item-title-val Yes
            .choose__item-btn Buy
        .choose__item
            .choose__item-title-val GPU Miners
            .choose__item-img
                img(src="../../../../img/index/contract_04.png")
            .choose__item-title Mining Currency
            .choose__item-title-val BTC (Bitcoin)
            .choose__item-title Power
            .choose__item-title-val 23 580 GH/S
            .choose__item-title-val#choose__item-title-price
            .choose__item-slider
                input(type="range" min="1" max="100" value="30")
            .choose__item-title Price Per 1 GH/S
            .choose__item-title-val From 143%
            .choose__item-title Availability
            .choose__item-title-val
                span Contact Support
            .choose__item-btn Buy

    .calculate
        .calculate__header Can’t decide how powerful a miner you want? <br> Try our Calculator!
        .calculate__body
            .calculate__btn Calculate Income
            .calculate__hr
            .calculate__img
                img(src="../../../../img/index/contract_bottom.png")

.faq.container
    .faq__header.header-blue FAQ
    .faq__body
        .faq__elem
            .faq__elem-header
                .faq__elem-title What i will get in the MiningP
                .faq__elem-btn
                    img(src="../../../../img/index/plus.svg")
            .faq__elem-body
                p Mining contributes to the existence of blockchains and cryptocurrencies. Powerful computers perform.
        .faq__elem
            .faq__elem-header
                .faq__elem-title What is GH/s?
                .faq__elem-btn
                    img(src="../../../../img/index/plus.svg")
            .faq__elem-body
                p Do you have VISA or Mastercard plastic cards? Both Visa and Mastercard are also electronic payment systems. However, they use the currency we are accustomed to such as dollars and euros, and all transactions are processed by banks. These currencies are called fiat currencies.

        .faq__elem
            .faq__elem-header
                .faq__elem-title How does cooperation with MiningP start
                .faq__elem-btn
                    img(src="../../../../img/index/plus.svg")
            .faq__elem-body
                p It is rather expensive to create one's own farm of special computers, which requires multiple technical knowledge. The SHAMINING project performs this function by itself.
        .faq__elem
            .faq__elem-header
                .faq__elem-title How does the cloud mining <br> earning scheme work
                .faq__elem-btn
                    img(src="../../../../img/index/plus.svg")
            .faq__elem-body
                p Mining contributes to the existence of blockchains and cryptocurrencies. Powerful computers perform.

        .faq__elem
            .faq__elem-header
                .faq__elem-title What is cryptocurrency in simple words
                .faq__elem-btn
                    img(src="../../../../img/index/plus.svg")
            .faq__elem-body
                p The Bitcoin system uses cryptocurrency, a purely digital currency that is not tied to any global bank or economy of any country. It has its own value (rate), which is determined by demand.

    .faq__btn-wrap
        .faq__btn.btn MORE

.partners.container
    .partners__header.header-blue PARTNERS
    .partners__body
        img(src="../../../../img/index/paypal.png").partners__image
        img(src="../../../../img/index/visa.png").partners__image
        img(src="../../../../img/index/master.png").partners__image
        img(src="../../../../img/index/bitcoin.png").partners__image

.press.container
    .press__heeder.header-blue PRESS MENTIONS
    .press__body
        span Bloomberg
        span New York Times
        span Forbes
        span Independent
