footer.container
    .footer__wrap
        .footer__logo MinigP
        .footer__menu
            .footer__menu-title Company
                a(href="") Contact us
                a(href="") Our Team
                a(href="") Our Data centers
                a(href="") Certificate of Incorporation
            .footer__menu-title Support
                a(href="") Questions & Answers
                a(href="") Avoid scams
                a(href="") Terms of Use
            .footer__menu-title Contacts
                a(href="") +1 111 222 333
                a(href="") miningp@mail.com

    .footer__copy
        span MiningP | All rights reserved 2022
        span Created by Remoty Digital
